In [1]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a ="rohit"

In [3]:
type(a)

str

In [4]:
c=[ 1,2,3, 1.23,"rohit",True]

In [5]:
type(c)

list

In [6]:
Aman= 34.43

In [7]:
type(Aman)

float

In [8]:
op= (1,2,34)

In [9]:
type(op)

tuple

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = ‘ ‘

SyntaxError: invalid character '‘' (U+2018) (2481791703.py, line 1)

In [11]:
var2 = ‘[ DS , ML , Python]’

SyntaxError: invalid character '‘' (U+2018) (4236947624.py, line 1)

In [12]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

SyntaxError: invalid character '‘' (U+2018) (899486036.py, line 1)

In [13]:
var4 = 1.

In [14]:
type(var4)

float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
#/ is arithmitic operator and it is used to devide numbers

In [20]:
24/3

8.0

In [15]:
#% is modulus operator is used to find remainder.

In [16]:
num1= 50
num2= 4

result= num1%num2
print (result)

2

In [ ]:
#// is an arithmitic operator and it is floor devision and it removes all the numbers after decimal

In [27]:
a= 9//2

In [28]:
print(a)

4

In [ ]:
#** it is arithmitic operator and is used to multiply for ex and it is known as exponential operator

In [1]:
2**3

8

In [2]:
3**4

81

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
X=[1,2,3, "Rohit Rana", True, 34.43, 9,10, " Kamal", False, 23.45, "Indar", 34.56]
for i in X:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'float'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=9
B=3
while (A>B):
    print(A%B)
if A%B==0:
    print(A%B)

    h= 2
k=5
while h<k:
    print(h)
    h= h+1
    
    #need assistance in this question as not able to solve please provide solution.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [14]:
list(range(3, 29))

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [11]:
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%3==0)):
      print(i)
   else:
      print("not divisible")

Enter lower range limit: 3
Enter upper range limit: 29

3
not divisible
not divisible
6
not divisible
not divisible
9
not divisible
not divisible
12
not divisible
not divisible
15
not divisible
not divisible
18
not divisible
not divisible
21
not divisible
not divisible
24
not divisible
not divisible
27
not divisible
not divisible

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [19]:
#A mutable object can be changed after it is created for ex  List as we can change list after it created 

l=[ 1,2,3,4,5]
l[2]
l[2] =7

In [20]:
l

[1, 2, 7, 4, 5]

In [23]:
#As you can see above list can be change however immutable object cannot be changed after it is created Ex str

D= ("string")

In [25]:
D[2]

'r'

In [26]:
D[2]= d

NameError: name 'd' is not defined

In [ ]:
#As you can see we can not change str as it immutable hence changes can not be make in immutable after its creation.